@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card-images {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card-rodapé {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: white;
}


.images-logo {
  height: 80px;
  cursor: pointer;
}

.images-logo-phone {
  height: 60px;
}

.images-phone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  margin: 40px;
  background-color: #05030315;
}

.images-numero {
  margin: 10px;
  font-size: 26px;
  color: #fff;
  font-family: "Roboto", cursive;
}