@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card-contato {
  padding: 3px;
  width: 400px;
  height: 440px;
  background-color: #6b2d2d99;
  border-radius: 8px;
  transition: ease-in-out 0.4s;
  box-shadow: 1px 2px 5px 3px;
}

.card-images {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.images-logo {
  height: 100px;
  cursor: pointer;
}

.images-logo {
  height: 100px;
  cursor: pointer;
}

.images-logo-phone {
  height: 100px;
}

.images-phone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  margin: 40px;
  background-color: #05030330;
}

.images-numero {
  margin-top: 5px;
  font-size: 30px;
  color: #ffb001;
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
}