@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.row {
  display: flex;
  flex-direction: row;
}

.card {
  padding: 3px;
  width: 400px;
  height: 440px;
  background-color: #6b2d2d99;
  border-radius: 8px;
  transition: ease-in-out 0.4s;
  box-shadow: 1px 2px 5px 3px;
  overflow: scroll;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.error-card {
  padding: 3px;
  width: auto;
  height: auto;
  background-color: #6b2d2d99;
  border-radius: 8px;
  transition: ease-in-out 0.4s;
  box-shadow: 1px 2px 5px 3px;
  font-weight: bold;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; 
}

.card:hover {
  background-color: #46202099;
}

.error-card:hover {
  background-color: #46202099;
}

.card-titulo {
  text-align: center;
  font-size: 21px;
  margin: 26px;
  font-weight: bold;
  color: white;
}

.card-content {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  justify-content: center;
  color: #ffb001;
  font-weight: bold;
}

.sabores {
  font-size: 18px;
  margin: 0 20px 10px 26px;
  color: #ffb001;
  font-weight: bold;
}

.coluna {
  display: flex;
  flex-direction: column;
}

.descricao {
  color: #ffffff99;
  font-size: 12px;
}

.valor {
  color: white;
  font-size: 14px;
}

.campo {
  font-weight: bold;
  color: white;
  padding: 3px 0 3px 0;
  outline: 0;
  border: 0;
  background: transparent;
  border-bottom: solid 1px;
  font-family: "Roboto", sans-serif;
  margin: 2px;
}

::-webkit-input-placeholder {
  color: rgb(182, 179, 179);
}

option {
  background-color: #6b2d2d;
  font-weight: bold;
}

option:disabled {
  color: #ffb001;
  font-weight: bold;
}

.card-button {
  width: auto;
  padding: 5px;
  margin: auto;
  margin-top: 20px;
  border-radius: 6px;
  border: 0;
  font-weight: bold;
  background-color: #6e0f0f;
  color: #ffb001;
  transition: ease-in-out 0.4s;
  cursor: pointer;
}

.card-button:hover {
  color: #fff;
}

.pedido-confirmacao {
  color: white;
  font-size: 12px;
  border-radius: 8px;
  margin: 5px;
  padding: 5px;
  background-color: #00000025;
}

.container-pedido {
  margin: 5px;
}
