@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.row {
  display: flex;
  flex-direction: row;
}

.card {
  padding: 3px;
  width: 400px;
  height: 440px;
  background-color: #6b2d2d99;
  border-radius: 8px;
  transition: ease-in-out 0.4s;
  box-shadow: 1px 2px 5px 3px;
  overflow: scroll;
  margin-bottom: 20px;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.card:hover {
  background-color: #46202099;
}

.card-titulo {
  text-align: center;
  font-size: 24px;
  margin: 26px;
  font-weight: bold;
  color: white;
}

.card-content {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  color: #ffb001;
  font-weight: bold;
}

.sabores {
  font-size: 18px;
  margin: 26px;
  color: #ffb001;
  font-weight: bold;
}

.descricao {
  color: #ffffff99;
  font-size: 12px;
}

.valor {
  color: white;
  font-size: 14px;
}

.campo {
  font-weight: bold;
  color: white;
  padding: 3px 0 3px 0;
  outline: 0;
  border: 0;
  background: transparent;
  border-bottom: solid 1px;
  font-family: "Roboto", sans-serif;
}

::-webkit-input-placeholder {
  color: white;
}

option {
  background-color: #6b2d2d;
  font-weight: bold;
}

option:disabled {
  color: #ffb001;
  font-weight: bold;
}

