.topnav {
  background-color: rgb(110, 15, 15);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav .links {
  float: right;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: ease-in-out 0.4s;
}

/* Change the color of links on hover */
.links:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

/* Add a color to the active/current link */
.links .active {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}