@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
body {
  background-color: #6e0f0f;
}

img {
  width: 100vw;
  height: 99vh;
}